* {
	box-sizing: border-box;
}

body {
	margin: 40px;
}

body a {
	font-family: 'Cardo', serif;
	font-size: 12pt;
}

body h3 {
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 300;
	letter-spacing: 2px;
}

body h1{
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 300;
	font-size: 48pt;
	letter-spacing: 3px;
	margin: 0px;
}

.col {
	display: inline-block;
}

.col img, .col iframe {
	width: 100%;
	vertical-align: center;
}

.col-1of6 {
	width: calc(16.666% - 20px);
}

.col-2of6 {
	width: calc(33.333% - 20px);
	margin: 10px 20px;
}

.col-3of6 {
	width: calc(50% - 20px);
}

.col-4of6 {
	width: calc(66.666% - 20px);
}

.col-5of6 {
	width: calc(83.333% - 20px);
}

.col-6of6 {
	width: calc(100% - 20px);
}

#body img{
	align-items: center;
	vertical-align: center;
	padding: 0px 130px 20px 130px;
}
