body {
	margin: 10px 0 0 0;
}

main {
	width: 1024px;
}

h1 {
	margin: 0;
	padding: 0 0 0px 10px;
	font-family: Arial;
}

p {
	padding-left: 12px;
	font-family: arial;
}

#A {
	position: absolute;
	height: 100%;
}

#B {
	position: absolute;
	height: 100%;
}
#C {
	position: absolute;
	height: 100%;
}
#D {
	position: absolute;
	height: 100%;
}
#E {
	position: absolute;
	height: 100%;
}
#F {
	position: absolute;
	height: 100%;
}
#G {
	position: absolute;
	height: 100%;
}
#H {
	position: absolute;
	height: 100%;
}
#I {
	position: absolute;
	height: 100%;
}
#J {
	position: absolute;
	height: 100%;
}
#K {
	position: absolute;
	height: 100%;
}
#L {
	position: absolute;
	height: 100%;
}
#M {
	position: absolute;
	height: 100%;
}
#N {
	position: absolute;
	height: 100%;
}
#O {
	position: absolute;
	height: 100%;
}
#P {
	position: absolute;
	height: 100%;
}
#Q {
	position: absolute;
	height: 100%;
}
#R {
	position: absolute;
	height: 100%;
}
#S {
	position: absolute;
	height: 100%;
}
#T {
	position: absolute;
	height: 100%;
}
#U {
	position: absolute;
	height: 100%;
}
#V {
	position: absolute;
	height: 100%;
}
#W {
	position: absolute;
	height: 100%;
}
#X {
	position: absolute;
	height: 100%;
}
#Y {
	position: absolute;
	height: 100%;
}
#Z {
	position: absolute;
	height: 100%;
}

#a {
	position: absolute;
	height: 100%;
}

