* {
	box-sizing: border-box;
}

a link{
	text-decoration: none;
}

body {
	align: center;
	font-family: 'Roboto', sans-serif;
	color: orange;
	background-color: #434956;
	padding-top: 40px;
	padding-right: 50px;
	padding-bottom: 40px;
	padding-left: 50px;
}

main {
	font-size: 0;
	width: 100%;
	margin: auto;
}

header {
	position: fixed;
	color: white;
}

nav {
	display: inline-block;
	float: right;
	position: fixed;
	top: 40px;
	right: 50px;
	width: 100%;
}

nav a {
	float: right;
	background: transparent;
	color: white;
	padding: 10px;
	display: inline-block;
	margin-bottom: 4px;
	transition: background-color 0.5s, padding 0.5s;
}

nav a:hover {
	padding: 10px;
	color: orange;
}

nav a:active {
	color: orange;
}

section a {
	color:orange;
}

section a:hover {
	color: white;
}

h1 {
	font-weight: 100;
	font-size: 54px;
	align: center
	color: orange;
}

.col {
	background-color: transparent;
	display: inline-block;
	margin: 0 10px 20px;
	height: 105px;
	font-size: 12px;
	vertical-align: top;
}

.col img, .col iframe {
	width: 100%;
	vertical-align: top;
}

.col-nest {
	font-size: 0;
	background-color: lightpink;
	border: 0;
}

.col-1of6 {
	height: 10px;
	vertical-align: bottom;
	width: calc(16.666% - 20px);
}

.col-2of6 {
	width: calc(33.333% - 20px);
}

.col-3of6 {
	width: calc(50% - 20px);
}

.col-4of6 {
	width: calc(66.666% - 20px);
}

.col-5of6 {
	width: calc(83.333% - 20px);
}

.col-6of6 {
	width: calc(100% - 20px);
	align-items: center;
}