* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #F5F5F5;
	margin: 0px;
}

main {
	width: 100%;
	margin: auto;
	text-align: bottom;
}

header {
	position: absolute;
	width: 100%;
	min-width: 1450px;
	color: white;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	background: transparent;
	text-decoration: none;
}

header a {
	color: white;
}

header a:link {
	text-decoration: none;
}

nav {
	margin: 0;
	float: right;
	right: 50px;
	font-size: 14px;
}

nav form {
	float: right;
	padding: 0 0 0 10px;
	opacity: 50%;
}

nav a {
	float: right;
	background: transparent;
	color: white;
	padding: 0px 5px;
	display: inline-block;
	margin-bottom: 4px;
	transition: color 0.3s, padding 0.5s;
}

#home a:hover {
	color: #F1A827;
}

#home a:active {
	color: #F1A827;
}

#pages a:hover {
	color: #434956;
}

#pages a:active {
	color: #434956;
}

h1 {
	font-stretch: condensed;
	font-weight: 500;
	font-size: 72px;
	text-align: center;
	vertical-align: baseline;
}

h4 {
	font-weight: 300; 
	font-size: 30px;
	align: center;
	color: black;
	margin: 0px 5px;
}

footer {
	vertical-align: baseline;
    height: 74px;
    width: 100%;
    padding: 10px 40px;
    position: relative;
    text-align: center;
}

.col {
	background-color: transparent;
	display: inline-block;
	margin: 20px 6px;
}

.col img, .col iframe {
	width: 100%;
}

.col-1of6 {
	width: calc(16.666% - 20px);
	height: 100%;
}

.col-2of6 {
	width: calc(33.333% - 20px);
	overflow: hidden;
}

.col-3of6 {
	width: calc(50% - 20px);
	margin: 0;
}

.col-4of6 {
	width: calc(66.666% - 20px);
	color: #F1A827;
	height: 100%;
}

.col-5of6 {
	width: calc(83.333% - 20px);
}

.col-6of6 {
	width: calc(100% - 20px);
}

#one {
	background-image: url(index_grid.png);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-origin: content-box;
	height: 100%;
	width: 100%;
	min-width: 1450px;
	min-height: 700px;
	text-align: center;
	display: table;
}

#one h1{
	width: 100%;
	height: 100%
	color: #F1A827;
	margin: 0;
	text-align: center;
}

#one .col-6of6 {
	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	color: #F1A827;
}

#one a {
	transition: color 0.3s;
	color: #9B9B9B;
	font-size: 14px;
	vertical-align: bottom;
}

#one a:link {
	text-decoration: none;
	color: #9B9B9B;
	font-size: 14px;
	vertical-align: bottom;
}

#one a:hover {
	color: white;
}

#one a:active {
	color: white;
}

#seven {
	background-image: url(01_rectangle.png);
	background-size: cover;
	background-attachment: fixed;
	background-color: white;
	background-origin: content-box;
	height: 680px;
	width: 100%;
	vertical-align: center;
	text-align: center;
	color: white;
	padding: 40px 40px;
	margin-bottom: 80px;
	min-width: 1445px;
}

#seven h1{
	color: white;
}

#seven img{
	border-radius: 2px;
	width: 100%;
}

#trending {
	box-shadow: 0px 3px 3px #A6741A;
	height: 280px;
	width: 440px;
}

#eight {
	padding: 0px 100px 10px;
	align-content: center;
	min-width: 1440px;
	max-width: 1440px;
	margin: auto;
}

#eight .heading {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 0;
	width: 100%;
}

#eight a{
	vertical-align: top; 
	float: right;
	color: white;
	transition: background-color 0.3s;
}

#eight a:link {
	color: white;
	float: right;
	font-size: 12pt;
	background-color: #F1A827;
	text-decoration: none;
	transition: background-color 0.3s;
	padding: 4px 9px;
	border-radius: 3px;
	vertical-align: center;
}

#eight a:hover {
	color: white;
	background-color: #FDC86B;
}

#eight .image {
	padding-top: 0px;
	padding-bottom: 40px;
}

#nine {
	padding: 10px 100px;
	min-width: 1440px;
	max-width: 1440px;
	margin: auto;
}

#nine .heading {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 0;
	width: 100%;
}

#nine a{
	vertical-align: top; 
	float: right;
	color: white;
	transition: background-color 0.3s;
}

#nine a:link {
	color: white;
	float: right;
	font-size: 12pt;
	background-color: #F1A827;
	text-decoration: none;
	transition: background-color 0.3s;
	padding: 4px 9px;
	border-radius: 3px;
	vertical-align: middle;
}

#nine a:hover {
	color: white;
	background-color: #FDC86B;;
}

#nine .image {
	padding-top: 0px;
	padding-bottom: 40px;
}

#ten {
	padding: 10px 100px;
	min-width: 1440px;
	max-width: 1440px;
	margin: auto;
}

#ten .heading {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 0;
	width: 100%;
}

#ten a{
	vertical-align: top; 
	float: right;
	color: white;
	transition: background-color 0.3s;
}

#ten a:link {
	color: white;
	float: right;
	font-size: 12pt;
	background-color: #F1A827;
	text-decoration: none;
	transition: background-color 0.3s;
	padding: 4px 9px;
	border-radius: 3px;
	vertical-align: middle;
}

#ten a:hover {
	color: white;
	background-color: #FDC86B;;
}

#ten .image {
	padding-top: 0px;
	padding-bottom: 40px;
}

#eleven {
	padding: 10px 100px;
	min-width: 1440px;
	max-width: 1440px;
	margin: auto;
}

#eleven .heading {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 0;
	width: 100%;
}

#eleven a{
	vertical-align: top; 
	float: right;
	color: white;
	transition: background-color 0.3s;
}

#eleven a:link {
	color: white;
	float: right;
	font-size: 12pt;
	background-color: #F1A827;
	text-decoration: none;
	transition: background-color 0.3s;
	padding: 4px 9px;
	border-radius: 3px;
	vertical-align: middle;
}

#eleven a:hover {
	color: white;
	background-color: #FDC86B;;
}

#eleven .image {
	padding-top: 0px;
	padding-bottom: 40px;
}

#twelve {
	background-color: #434956;
	height: 45px;
	width: 100%;
	text-align: center;
	color: white;
	margin-top: 80px;
}

#twelve a {
	transition: color 0.3s;
	color: #9B9B9B;
	font-size: 14px;
}

#twelve a:link {
	text-decoration: none;
	color: #9B9B9B;
	font-size: 14px;
}

#twelve a:hover {
	color: white;
}

#twelve a:active {
	color: white;
}


#twelve .copyright {
	text-align: left;
}

#twelve .terms {
	text-align: right;
	vertical-align: top;
	padding-right: 0;
}

#shadow {
	overflow: hidden;
	box-shadow: 0px 2px 2px #808080;
	height: 120px;
	width: calc(16.666% - 20px);
	border-radius: 2px;
}

#shadow img {
	vertical-align: bottom;
	background-attachment: fixed;
	width: 100%;
}

#list {
	overflow: hidden;
	box-shadow: 0px 2px 2px #808080;
	height:240px;
	width: calc(33.333% - 20px);
	border-radius: 2px;
}

#list img {
	vertical-align: bottom;
	background-attachment: fixed;
	width: 100%;
}



