

body {
	background-color: lightblue;
}

header {
	position: fixed;
	left: 20px;
	bottom: 10px;
}

body {
	margin: 0px;
	margin-right: 0px;
}

h1 {
	font-family: Arial;
	text-align: center;
}

div {
	margin: 0;
}

/* -- ANIMATION --*/


@media (max-width: 480px) {
	.transform.caterpiller {
		text-align: center;
		vertical-align: center;
		width: 20px;
		margin: 0;
	}
	.transform.cacoon {
		display: none;
	}
	.transform.butterfly {
		display: none;
	}
}

@media (min-width: 481px) and (max-width: 991px) {
	.transform.caterpiller {
		display: none;
	}
	.transform.cacoon {
		text-align: center;
		vertical-align: center;
		margin: 0;
	}
	.transform.butterfly {
		display: none;
	}
}


@media (min-width: 992px) {
	.transform.caterpiller {
		display: none;
	}
	.transform.cacoon {
		display: none;
	}
	.transform.butterfly {
		text-align: center;
		vertical-align: center;
		margin: 0;
	}
}



