img {
    display: block;
    margin: 50px;
    float: left;
    padding: 15px;
    width:350px;
    height:250px;
}

body {
    font-family: 'Raleway', sans-serif;
    position:absolute;
    margin: 150px;
    width: 1000px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    width: 700px;
}