body {
	background-color: navy;
	font-family: Arial;
	letter-spacing: 1pt;
}

nav {
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	float:right;
	margin-right: 5vw;
	color: white;
	padding: 10px 15px;
	transition: background-color 0.5s;
}

nav:hover {
	background-color: white;
	color: navy;
}

nav:active {
	background-color: white;
	color: navy;
}

h1 {
	color: white;
	font-size: 90pt;
	vertical-align: bottom;
	margin: 0;
	padding: 0;
}

h3 {
	color: white;
	font-size: 30pt;
}

h6 {
	color: white;
	font-size: 12pt;
	font-style: bold;
	margin: 0;
}

p {
	color: white;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:link:hover {
	color: navy;
	text-decoration: none;
}

a:visited:hover {
	color: navy;
	text-decoration: none;
}


/*-----HOME SCREEN----*/

.home {
	border: 2px solid white;
	height: calc(100vh - 20px);
}

.container {
	height: calc(100vh - 15px);
	width: 100vw;
	vertical-align: bottom;
	display: table-cell;
	padding-left: 5vw;
	padding-bottom: 10vh;
}


/*-----HOME MENU----*/

.scroll {
	width: calc(100% - 5px);
	height: 100%;
	overflow: auto;
	overflow-x: scroll;
	border: 2px solid white;
	margin-top: 10px;
}

.posts {
	width: calc(12% * 20);
	height: 100vh;
	overflow-y: hidden;
	margin: 0;
	font-size: 0;
}

.wrapper {
	vertical-align: bottom;
	display: table-cell;
	border-right: 2px solid white;
	width: calc(98.8%/8);
	height: 100vh;
	margin: 0;
	font-size: 12pt;
	padding-bottom: 100px;
	padding-left: 50px;
	padding-right: 30px;
	transition: width 2s;
	position: relative;
}

.wrapper-eight {
	border-right: none;
}

.vertical {
	overflow: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 2px solid white;
	width: calc(35% - 20px);
	max-width: 600px;
	min-width: 300px;
	display: inline-block;
	height: 70vh;
	display: none;
}

/*.title {
	display: inline-block;
	/*width: calc(20% - 20px);
	max-width: 600px;
	color: white;
	transition: color 2s;
} /*



/*----BLOG POSTS-----*/



.single {
	width: 100%;
	height: 100%
	margin: 0;
}


.box {
	width: calc(100% - 5px);
	border: 2px solid white;
	margin-top: 10px;
}

.tab {
	border: 2px solid white;
	width: 50%;
	max-width: 600px;
	min-width: 300px;
	margin-top: 42px;
	margin-left: 5%;
	margin-bottom: 3%;
	margin-top: 3%;
	display: inline-block;
}

/*.right {
	height: 50%;
	width: 100vw;
	vertical-align: top;
	float: right;
	position: absolute;
	margin-right: 5%;
	display: none;
}*/

.writing {
	width: calc(100% - 40px);
	padding: 20px;
}


/*-----IMAGES ----*/


.test {
	text-decoration: underline;
}

.image {
	width: 40vw;
	left: 50%;
	float: right;
	display: none
}

.test:hover + .image {
	display: block;
	position: absolute;
}

.test:active + .image {
	display: block;
	position: absolute;
}

.fb-comments {
	color: white;
}



/*---- PHONE -----*/


@media screen and (max-width: 480px) {
	nav {
		margin-right: 5vw;
	}
	h1{
		font-size: 60pt;
		margin: 0;
		padding: 0;
	}
	h3 {
		font-size: 20pt;
	}
	.container {
		height: 100vh;
		width: 80vw;
		position: relative;
		padding-bottom: 15vh;
		padding-left: 7vw;
	}
	.scroll {
		border: 2px solid white;
		margin-top: 10px;
	}
	.posts {
		width: 100%;
		height: calc(25% * 8);
		overflow: auto;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.wrapper {
		border-bottom: 2px solid white;
		height: calc(98.8%/8);
		width: calc(100vw - 60px);
		max-width: 100%;
		margin: 0;
		font-size: 12pt;
		display: inline-block;
		position: relative;
		padding-left: 5%;
	}
	.home {
		height: 100vh
		width: calc(100vw - 20px);
	}
	.box {
		width: calc(100% - 5px);
		border: 2px solid white;
		margin-top: 10px;
	}
	.post-1 {
		font-size: 45pt;
	}
	.tab {
		border: none;
		width: 100%;
		margin: 1%;
	}
}


/* ----TABLET ----- */

@media only screen and (min-width: 481px) and (max-width: 991px){
	nav {
		margin-right: 5vw;
	}
	h1 {
		font-size: 60pt;
		margin: 0;
		padding: 0;
	}
	h3 {
		font-size: 24pt;
	}
	p {
		font-size: 12pt;
	}
	.container {
		height: 100vh;
		width: 80vw;
		position: relative;
		padding-bottom: 10vh;
		padding-left: 5vw;
	}
	.posts {
		width: calc(40% * 8);
	}
	.wrapper {
		width: calc(98.8%/8);
		font-size: 12pt;
		padding: 5%;
		padding-bottom: 10vh;
		padding-left: 3vw;
		padding-right: 3vw;
		position: relative;
		overflow-y: hidden;
	}
	.tab {
		min-width: 410px;
	}
	.image {
		width: 80vw;
		left: 10vw;
		float: right;
		display: none;
	}
}


