* {
	box-sizing: border-box;
}

body {
	background-color: bisque;
}

header {
	position: fixed;
	left: 20px;
	bottom: 10px;
}

body {
	margin: 4px;
	margin-right: 0px;
}

.block {
	display: inline-block;
	width: calc(10% - 4px);
	padding-top: 10%;
	margin: 0;
}


.pink {
	background-color: pink;
}

.bisque {
	background-color: lemonchiffon;
}

/* -- ANIMATION --*/


@media (max-width: 480px) {
	.block {
		width: calc(20% - 4px);
		padding-top: calc(20% - 4px);
	}
	.block:hover {
		background-color: lightpink;
	}
}

@media (min-width: 481px) and (max-width: 991px) {
	.block {
		width: calc(10% - 4px);
		padding-top: calc(10% - 4px);
		background-color filter: grayscale(100%);
	}
	.block:hover {
		background-color: lightblue;
	}
}


@media (min-width: 992px) {
	.block {
		width: calc(5% - 4px)
		padding-top: calc(5% - 4px);
	}
	.block:hover {
		background-color: white;
	}
}